.confirmation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 15rem;

  &__heading {
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 1px;
  }
}
