@import "../abstracts/mixins";
@import "../abstracts/variables";

.nav-header {
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-main {
  right: 8%;
  top:5%;
  position: absolute;
  z-index: 1;

  &__item {
    position: relative;
    @include navigation-style;

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      width: 0;
      height:2px;
      bottom:0;
      left:0;
      background-color:$color-white;
      transition: width .3s;
    }

    &:hover {
      &::after {
        width:100%;
      }
    }
  }

  &__link {
    text-decoration: none;
    color:inherit;
  }
}

.nav-minor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 2rem;

  &__item {
    position: relative;
    @include navigation-style;

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      width: 0;
      height:2px;
      bottom:0;
      left:0;
      background-color:$color-black;
      transition: width .3s;
    }

    &:hover {
      &::after {
        width:100%;
      }
    }
  }

  &__link {
    text-decoration: none;
    color:inherit;
  }

  &__cart {
    font-size: 2.2rem;
    cursor: pointer;
  }

  &__quantity {
    font-size: 1.4rem;
    margin-left: 5px;
    color: $color-black;
  }
}

.nav-brand-name {
  left: 7%;
  top: 2%;
  font-size: 1.9rem;
  font-weight:700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $color-grey-dark;

  &__link {
    text-decoration: none;
    color:inherit;
  }
}

