@import "../abstracts/variables";
.product-detail {
  margin-top: 10rem;
  padding: 0 20rem;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;

  &__image {
    height: 90%;
    width: 40%;

  }

  &__title {
    font-size: 3rem;
    color: $color-black;
  }

  &__price {
    font-size: 2rem;
    font-weight: 400;
    color: $color-black;
  }

  &__quantity {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__input {
    display: inline-block;
    font-size: 1.5rem;
    font-family: inherit;
    font-weight: 400;
    color: $color-grey-light;
    padding: 0.8rem 1rem;
    border-radius: 2px;
    border: solid;
    border-width: 1px;
    width: 35%;

    &:focus {
      outline: none;
    }
  }

  &__label {
    margin-top: 2rem;
    width: 45%;
    padding: 0.4rem;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    background-color:$color-default-grey;
    color: $color-white;
    border-radius: 5px;
    cursor: pointer;
  }

  &__description {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 400;

  }
}
