<section class="section-about--color">
  <div class="u-text-center u-margin-bottom-big">
    <h2 class="heading-secondary u-margin-bottom-big">Glue On Nails</h2>
  </div>

  <div class="row">
      <div class="col-1-of-2">
        <div class="image-box">
            <div class="composition"><img src="https://res.cloudinary.com/chu327/image/upload/v1533074091/Nunu%20Nails/nail4.png" alt="pressonnail" class="composition__photo composition__photo--p1"></div>
            <div class="composition"><img src="https://res.cloudinary.com/chu327/image/upload/v1533074093/Nunu%20Nails/nail5.png" alt="pressonnail" class="composition__photo composition__photo--p2"></div>
            <div class="composition"><img src="https://res.cloudinary.com/chu327/image/upload/v1533074093/Nunu%20Nails/nail6.png" alt="pressonnail" class="composition__photo composition__photo--p3"></div>
        </div>
      </div>

    <div class="col-1-of-2">
        <h3 class="heading-tertiary">Description</h3>
        <p class="paragraph">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis </p>
        <a routerLink="/glue-on-nails" class="btn-text">Learn More</a>
    </div>
  </div>
</section>
